<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="cssFiles/style.css">
    <title>Pizza</title>
</head>
<body>
    <div class="header">
        <h1>Pizzeria</h1>
        <!-- <a href="presentation.html?id=718930">Un film</a>  -->
      </div>
</body>
</html>