<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="cssFiles/style.css">
    <title>Pizza</title>
</head>
<body>
    <div class="header">
        <h1>Pizzeria</h1>
        <ul><a href="localhost/ingrédients"><li>Ingrédients</li></a></ul>
        <!-- <a href="presentation.html?id=718930">Un film</a>  -->
    </div>

    <div class="main">

      
            <div class="pizza">
                <h3>Nos pizzas</h3>
                <div class="liste_pizza">
                    <ul>
                        <li>Pizza royales: 10€</li>
                        <li>Pizza savoyarde: 10€</li>
                    </ul>
                </div>
            </div>

       

    </div>

</body>
</html>